
/*-------------table of content------------------------------------------------------------------------*/
/*-------------Global Styles------------------------------------------------------------------------*/
/*-------------typography------------------------------------------------------------------------*/
/*-------------area------------------------------------------------------------------------*/
/*-------------header------------------------------------------------------------------------*/
/*-------------introduction------------------------------------------------------------------------*/
/*-------------projects------------------------------------------------------------------------*/
/*-------------content------------------------------------------------------------------------*/
/*-------------contact------------------------------------------------------------------------*/
/*-------------footer------------------------------------------------------------------------*/
/*-------------empty pages------------------------------------------------------------------------*/

/*-------------Global Styles------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
}
/*-------------Typography---------------------------------------------------------------------------*/

* {
    font-family: roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, sans-serif;
}
h1{
    font-size: 48px;
}
H2{
    font-size: 28px;
}
nav > ul {
    font-family: Merriweather, sans-serif;
}

/*-------------Area---------------------------------------------------------------------------------*/
/*-------------header---------------------------------------------------------------------------------*/

.header-box {
    display: flex;
    align-items: center;
    height: 400px;
    background-color:#4845E4;
    color: white;
}
nav > ul{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    color: white;
}
.head-text{
    height: 500px;
    width: 1000px;
    text-align: center;

}
#squiggle{
    position: relative;
    left: calc(50% - 15px);
    bottom: 0;

}
/*-------------introduction---------------------------------------------------------------------------------*/
.hello{
    Background-color: white;
    color:#5722CD;
}
/*-------------projects---------------------------------------------------------------------------------*/
.work{

}

#work-left{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#work-right{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;

}
.work-image{
    width: 550px;
}
/*-------------content---------------------------------------------------------------------------------*/

/*-------------contact---------------------------------------------------------------------------------*/

/*-------------footer---------------------------------------------------------------------------------*/
footer{
    color:#4845E4;
    font-size: smaller;
}

/*-------------empty pages---------------------------------------------------------------------------------*/
.empty{
    color: #4845E4;
    width: 1500px;
    height: 1500px;
}
